.display-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.display-table {
  border-collapse: collapse;
  width: 100%;
}

.footer {
  margin-top: auto;
}

.modal-btn {
  /* visibility: hidden; */
  opacity: 0;
  padding: 16px 26px;
  margin-bottom: 50px;
  border: none;
  border-radius: 3px;
  font-family: DIN2014-Bold;
  /* font-weight: bold; */
  font-size: 1rem;
  background-color: lightgray;
  color: black;
  cursor: pointer;
  transition: opacity 0.5s;
}

.footer:hover > .modal-btn {
  /* visibility: visible; */
  opacity: 1;
}

.footer:hover > .modal-btn:hover {
  background-color: gray;
  color: white;
}

thead tr {
  background-color: lightgray;
}

.table-row {
  text-align: left;
  font-size: 76pt;
  text-indent: 10pt;
}

.table-body-text {
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: gray;
}

tbody tr:nth-child(even) {
  background-color: black;
}
