.display-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.display-table {
  /* flex: 1; */
  border-collapse: collapse;
  width: 100%;
}

.footer {
  margin-top: auto;
}

.modal-btn {
  padding: 16px;
  margin-bottom: 50px;
}

thead tr {
  background-color: lightgray;
}

.table-row {
  text-align: left;
  font-size: 76pt;
  text-indent: 10pt;
}

.table-body-text {
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: gray;
}

tbody tr:nth-child(even) {
  background-color: black;
}

.line-logo {
  height: 130px;
  width: 130px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.blue-logo {
  background-image: url(../assets/bluelogo.svg);
}

.red-logo {
  background-image: url(../assets/redlogo.svg);
}

.green-logo {
  background-image: url(../assets/greenlogo.svg);
}

.gold-logo {
  background-image: url(../assets/goldlogo.svg);
}

.purple-logo {
  background-image: url(../assets/purplelogo.svg);
}

.expo-logo {
  background-image: url(../assets/expologo.svg);
}
