.line-title {
  display: flex;
  align-items: center;
}

.line-logo {
  height: 130px;
  width: 130px;
  margin: 20px;
}

.blue-logo {
  background-image: url(../assets/bluelogo.svg);
}

.red-logo {
  background-image: url(../assets/redlogo.svg);
}

.green-logo {
  background-image: url(../assets/greenlogo.svg);
}

.gold-logo {
  background-image: url(../assets/goldlogo.svg);
}

.purple-logo {
  background-image: url(../assets/purplelogo.svg);
}

.expo-logo {
  background-image: url(../assets/expologo.svg);
}
